<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      h1{
        color: red;
        text-align: center;
        text-decoration: underline;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1><i><%= title %></i></h1>
        <p> <i> I often find myself dreaming about my perfect travel destiny — a place where time slows down and every moment feels magical. In my mind, it's a hidden gem tucked between mountains and oceans, where the sunsets paint the sky in colors I've never seen. The air is fresh, filled with the scent of nature and distant spices from local street food. I imagine walking through narrow cobblestone streets, hearing unfamiliar languages that sound like music. There’s a quiet joy in getting lost there, in discovering places not marked on any map. I dream of connecting with people who live simply but fully, their smiles warm and stories rich. Every corner holds a secret, every sunrise feels like a new beginning. It's a place where my worries fade, replaced by wonder and peace. Until I get there, I’ll keep dreaming — because sometimes, the journey begins long before you pack your bags. </i> </p>
        <img src="https://img.freepik.com/premium-vector/couples-travel-adventure_767158-545.jpg?semt=ais_hybrid&w=740&q=80" width="500px"  height="400px" style="border: dashed;">
  </body>
</html>
